[gcode_macro QUAD_GANTRY_LEVEL]
description: Level gantry; skips if already applied this session
# Skip leveling if already applied in this session
rename_existing: FORCE_QUAD_GANTRY_LEVEL
gcode:
    {% if printer.quad_gantry_level.applied == False %}
        {% if "xyz" not in printer.toolhead.homed_axes %}
            RESPOND MSG="Homing xyz...."
            G28    ; home all axes before leveling
        {% endif %}
        RESPOND MSG="Gantry leveling...."
        FORCE_QUAD_GANTRY_LEVEL
        RESPOND MSG="Homing z...."
        G28 Z      ; re-home Z after gantry tilt correction
    {% endif %}
