[idle_timeout]
timeout: 3600
gcode:
    # --- shutdown sequence on idle timeout ---
    FAN_OFF NAME=nevermore
    FAN_OFF NAME=evenmore
    SET_TEMPERATURE_FAN_TARGET temperature_fan=chamber target=0    ; disable chamber fan control
    TURN_OFF_HEATERS
    M84               ; disable steppers
    CHAMBER_LIGHT_OFF
    BED_MESH_CLEAR
    LED_OFF
