[gcode_macro PURGE_LINE]
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    RESPOND MSG="Purge line...."
    G92 E0

    G1 X20 Y20 Z0.3 F5000
    G1 X200 Y20 Z0.3 F1500.0 E15

    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

[gcode_macro PRINT_START]
variable_bed_mesh_profile: "hot"
variable_extruder_hold_temp: 140
gcode:
    {% set target_bed = params.BED | int %}
    {% set target_extruder = params.EXTRUDER | int %}
    {% set target_chamber = params.CHAMBER | default(0) | int %}
    {% set z_offset = params.Z_OFFSET | default(0) | float %}

    BED_MESH_CLEAR

    CHAMBER_LIGHT_ON

    LED_HOMING

    {% if extruder_hold_temp | default() %}
    RESPOND MSG="Heating extruder to {extruder_hold_temp}...."
    M104 S{extruder_hold_temp}
    {% endif %}

    {% if printer.heater_bed.temperature > 30 %} # Stabilize bed temperature
    M140 S{ printer.heater_bed.temperature }
    {% endif %}

    {% if "xyz" not in printer.toolhead.homed_axes %}
        RESPOND MSG="Homing xyz...."
        G28 ; home if not already homed
    {% endif %}
    QUAD_GANTRY_LEVEL

    G90 ; Absolute coordinates

    PARK_START

    LED_HEATING

    RESPOND MSG="Heating bed to {target_bed}...."
    M190 S{target_bed}

    {%- if target_chamber > 0  %}
      NEVERMORE_ON
      SET_TEMPERATURE_FAN_TARGET temperature_fan=chamber target={target_chamber} min_speed=0.1 max_speed=1
    {%- endif %}

    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={extruder_hold_temp}

    RESPOND MSG="Homing z...."
    G28 Z

    BED_MESH_CALIBRATE ADAPTIVE=1

    PARK_WASTE

    RESPOND MSG="Heating extruder to {target_extruder}...."
    M109 S{target_extruder}
    RESPOND MSG="Waiting 3 min for thermal expansion...."
    G4 P180000 # Wait 3 min for thermal expansion

    LED_PRINTING

    #PURGE_LINE
    CLEAN_NOZZLE EXTRUDE=true
    SET_GCODE_OFFSET Z_ADJUST={ z_offset } MOVE=1
    RESPOND MSG="Starting print...."

[gcode_macro PRINT_END]
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament

    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F6000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    PARK_WASTE                     ; park nozzle at waste bin
    BED_MESH_CLEAR

    LED_OFF
    CHAMBER_LIGHT_OFF

    SET_TEMPERATURE_FAN_TARGET temperature_fan=chamber target=0

    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0
